h2
{    text-shadow: 2px 2px 4px grey;
	color:grey;
	font-size: 22px;
	font-family:arial;
	text-align: left;
}
p
{
	font-size:1em;
	font-family: comic sans ms;

}
form
{   color:black;
	font-size:x-large;
	font-family: comic sans ms;
	
	text-align: center;
}
button
{
	font-size:large;

}
em
{
	color:blue;
}
strong
{
	font-size:18px; 
}
a
{
	color:black;
}